<div class = "content-wrapper">
  <div class = "container">
    <h4>お気に入り</h4>
    <div id = "favorites-index-pagenate">
      <%= render "shared/post_list", posts: @posts %>
    </div>
  </div>
</div>
