<footer>
  <div class = "footer-wrapper d-flex flex-column align-items-center">
    <div>
      <ul class = "footer-menu d-flex flex-column flex-lg-row align-items-center fw-bold">
        <li><%= link_to "ホーム", root_path %></li>
        <li><%= link_to "利用規約", terms_path %></li>
        <li><%= link_to "プライバシーポリシー", privacy_path %></li>
      </ul>
    </div>
    <p class = "copyright">Copyright © 2021 oda</p>
  </div>
</footer>
