<footer>
  <div class = "footer-wrapper">
    <div>
      <ul class = "footer-menu">
        <li><%= link_to "ホーム", root_path %></li>
        <li><%= link_to "利用規約", terms_path %></li>
        <li><%= link_to "プライバシーポリシー", privacy_path %></li>
      <ul>
    </div>
    <p>Copyright © 2021 oda</p>
  </div>
</footer>
