<h3>検索結果</h3>
  <table class = "post-list table">
    <% @posts.each do |post| %>
      <tr>
        <td>
          <%= link_to "#{post.title}", post_path(post.id) %>
          <%= "#{post.user.name}" %>
          <%= datetime_format(post.created_at) %>
        </td>
      </tr>
    <% end %>
  </table>
