.top-wrapper{
  position: relative;
  top: -20px;
  width: 100%;
  height: 600px;
  background-size: cover;
  background-image: image-url('background_image.jpg');
  margin-bottom: 50px;
}

.top-wrapper::before{
  background-color: rgba(0,0,0,0.4);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}

.top-message-box{
  position: absolute;
  top: 120px;
  left: 60px;
  color: white;
}

.top-message-box-title{
  font-size: 48px;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 30px;
}

.top-message{
  font-size: 24px;
}

.top-message-box-title, .top-message-box-sub-title, .top-message{
  animation-name: top-animation;
  animation-duration: 2s;
  animation-delay: 4s;
  animation-fill-mode: both;
}

@keyframes top-animation{
  0% {
    transform: translateY(12px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.balloon-position{
  display: flex;
  margin-bottom: 30px;
}

.balloon{
  position: relative;
  margin: 2em 0 2em 40px;
  padding: 15px;
  background-color: white;
  border-radius: 50%;
  width: 200px;
  height: 100px;
  color: black;
}

.balloon p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.balloon:before{
  content: "";
  position: absolute;
  left: -25px;
  width: 13px;
  height: 12px;
  bottom: -10px;
  background-color: white;
  border-radius: 50%;
}

.balloon:after{
  content: "";
  position: absolute;
  left: -10px;
  width: 20px;
  height: 18px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
}

.balloon1{
  top: -30px;
  left: 30px;
  animation-name: balloon1-animation;
  animation-duration: 3s;
}

@keyframes balloon1-animation{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.balloon2{
  bottom: -30px;
  left: -10px;
  animation-name: balloon2-animation;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: both;
}

@keyframes balloon2-animation{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.balloon3{
  top: -20px;
  left: 0;
  animation-name: balloon3-animation;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-fill-mode: both;
}

@keyframes balloon3-animation{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.top-login-form{
  position: absolute;
  top: 130px;
  right: 50px;
  width: 400px;
}

.post-list{
  width: 80%;
  margin: 0 auto;
  border-bottom: solid 1px lightgray;
}

.reply-count{
  text-align: center;
  width: 10%;
  height: 100%;
 }

 .post-right{
  width: 88%;
 }

 .post-create{
  height: auto;
}

.post-title{
  font-size: 20px;
}

.post-title a{
  text-decoration: none;
}

.post-title a:hover{
  text-decoration: underline;
}

.post-edit{
  text-align: right;
}

.user-modal{
  color: blue;
  text-decoration: underline;
}

.user-modal:hover{
  opacity: 0.6;
}

.post-text{
  height: 350px;
}

.post-box, .reply-box{
  display: flex;
  flex-direction: column;
  background-color: white;
  border: solid 1px black;
  padding:  20px;
  margin: auto;
  width: 80%;
}

.post-box > div, .parent-reply-box > div, .children-reply-box > div{
  margin-top: 15px;
}

.post-box-title{
  display: flex;
  flex-direction: row;
}

.post-box-title h4{
  width: calc(100% - 135px);
}

.favorite-box{
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  background-image: linear-gradient(#fff,#f5f8fa);
}

.favorite-box:hover{
  background-color: #e6ecf0;
  background-image: linear-gradient(#fff,#e6ecf0);
  border-color: lightgrey;
}

.favorite-box span{
  margin-left: 5px;
}

.post-box-infomation, .reply-box-infomation{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post-box-infomation > *, .reply-box-infomation > *{
  margin-right: 20px;
}

.post-box-button{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.post-box-button p{
  color: red;
  font-size: 10px;
}

.post-box-content, .reply-box-content{
  font-size: 20px;
}

.reply-form-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.reply-form-box textarea{
  width: 100%;
  padding: 5px;
  margin-top: 30px;
}

.reply-form-box textarea:focus{
  height: 350px;
}

.replies-box h4{
  width: 80%;
  margin: auto;
  padding: 30px 0 15px;
}

.reply-box{
  margin-bottom: 10px;
}

.children-reply-box{
  border-top: solid 1px gray;
  padding-bottom: 15px;
  margin-top: 30px;
  padding-left: 5%;
}

.like-box span{
  margin-left: 5px;
}

@media screen and (max-width: 480px) {

  .top-message-box{
    position: absolute;
    top: 20px;
    left: 10px;
  }

  .top-message-box-title{
    margin-bottom: 10px;
  }

  .top-message-box-title, .top-message-box-sub-title{
    animation: none;
  }

  .top-message{
    display: none;
  }

  .balloon-position{
    display: none;
  }

  .top-login-form{
    position: absolute;
    top: 120px;
    left: 10px;
    width: 350px;
  }

  .post-list{
    width: 95%;
  }

  .reply-count{
    margin-right: 10px;
  }

  .post-box, .reply-box{
    width: 90%;
    padding-top: 0;
    padding-bottom: 10px;

  }

  .replies-box h4{
    width: 90%;
  }

  .post-box-title{
    flex-direction: column-reverse;
  }

  .post-box-title h4{
    width: 100%;
    margin-top: 20px;
  }

  .favorite-button{
    display: flex;
    justify-content: flex-end;
  }
  .post-box-infomation, .reply-box-infomation{
    flex-direction: column;
    align-items: flex-start;
  }

}
