// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card-header{
  text-align: center;
}

.form-box{
  width: 600px;
  margin: 20px auto;
}

.form-parts{
  margin: 10px 0;
}

.radio-button{
  margin-left: 10px;
}

.text-form{
  padding: 6px 12px;
  width:418.5px;
}

.btn-position{
  text-align: center;
}
