<div class = "content-wrapper">
  <div class = "container admin-container">
    <h4 style = "margin-bottom: 15px;">ユーザー管理</h4>
    <div id = "admin-pagenate">
        <%= render "shared/admin_user_index" %>
    </div>
    <p>※相談・回答の削除は、各相談ページから可能（管理者権限であれば、回答ありの相談も削除可能）</p>
  </div>
</div>
